body {
    background-color: #B8E8FC;
}
h1 {
    font-size: 3rem;
    line-height: 1.5;
    font-family: 'Montserrat';
    font-weight: 900;
}
img {
    width: 100%;
}
video {
    width: 100%;
}
.main {
    padding-top: 5%;
}
.profile {
    width: 50%;
    display: block;
    margin-top: 3rem;
}

    
/* ============================ HOME-SEARCH =====================================*/
:root {
    --brightMode-bg: #B8E8FC;
    --darkMode-bg:rgb(33,37,41);
  }
html{
    margin:0;
    padding:0;
}
.htlmHomeSearch{
    position:fixed;
    margin:0;
    padding: 0%;
    background-color: #464646;
    width: 100%;
    height: 100%;
}
body{
    height: 100%;
    transition: .3 ease all;
}

/* DIVISÃO DA PÁGINA */
.main-content{
    height: 100%;
    display: flex;
}

/* SIDEBAR */
side{
    padding-right:10px;
    padding-top: 33px;
    background-color: var(--brightMode-bg);
    width: 30%;
    overflow-y: hidden;
}
side:hover{
    padding-right:0px;
    overflow-y: scroll;
}
    /* MODO ESCURO */
body.dark side{
    background-color: var(--darkMode-bg);
}

/* MAIN */
#homeMain{
    overflow-y: hidden;
    width: 70%;
    background-color: var(--brightMode-bg);
    padding-right:10px;
}
#homeMain:hover{
    padding-right:0px;
    overflow-y: scroll;
}
#headerHomeMain{
    margin-top: 10px;
    width: 100%;
    display: flex;
    height: fit-content;
    justify-content: center;
}
#headerHomeMain h3{
    margin-top:5p;
    padding-top: 5px;
    font-size: 20px;
    border-left: #919191 0.5px solid;
    justify-content: center;
    padding-left: 10px;
    padding-right: 10px;
}
#last{
     border-right: #919191 0.5px solid;
}
    /* MODO ESCURO */
body.dark #homeMain{
    background-color: var(--darkMode-bg);
}
body.dark #headerHomeMain h3{
    color:white;
    border-left: #313131 0.5px solid;
    border-right: #313131 0.5px solid;
}
/* DISPOSIÇÃO VIDEOS */
.gridGalerry{
    margin: 3vw;
    display: grid;
    grid-template-columns:repeat(auto-fill, minmax(230px, 1fr));
}
.griditems{
    min-height: 300px;
    margin:12px;
    display: flex;
    justify-content: center;
    border-radius: 5px;
    background-color: rgb(65, 116, 122);
    max-height: 80vh;

}

/* PROPORÇÃO VIDEOS*/
.griditems .outer {
    width: 100%;
    padding-top: 150%;
    position: relative;
}
.griditems .outer .inner {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
}

/* OPCOES SIDEBAR */
.nav-item{
    display: flex; 
    justify-content:left;
    list-style-type: none;
    width: 100%;
    max-width: 100%;
    padding:0;
    padding-left:30px;
    margin:0px;
    font-size: 25px;
}
.nav-item:hover{
    background-color: #a7e5ff;
}
/* MODO ESCURO */
body.dark .nav-item{
    color:#fff;
}
.sideItems{
    padding: 0;
    margin:0;
}
body.dark .nav-item:hover{
    background: rgb(41, 46, 51);
}

/* SCROLLBAR */
  * {
    scrollbar-width: auto;
    scrollbar-color: #c2c2c2 #f0f0f0;
  }
  *::-webkit-scrollbar {
    width: 10px;
  }
  *::-webkit-scrollbar-track {
    background: #a7e1fa;
  }
  *::-webkit-scrollbar-thumb {
    background-color: #58c8f8;
    border-radius: 10px;
  }
/* MODO ESCURO */
body.dark ::-webkit-scrollbar-track{
    background: rgb(38, 43, 48);
}
body.dark ::-webkit-scrollbar-thumb{
    background-color:rgb(60, 67, 75);
}

  /* LINHA */
  .line{
    margin-top: 50px;
    margin-right: auto;
    margin-left: auto;
    width: 70%;
    border-bottom: #716a6a 1px solid;
    margin-bottom: 55vh;
  }

  /* SWITCH */
  .switch{
    margin:auto auto;
  }
  #switch{
    background: #464646;
    border-radius: 1000px;
    position:relative;
    cursor: pointer;
    display:flex;
    outline: none;
    border:none;
    box-shadow: 0px 0px 3px 1px rgba(0,0,0,0.7) inset;
    -webkit-box-shadow: 0px 0px 3px 1px rgba(0,0,0,0.7) inset;
    -moz-box-shadow: 0px 0px 3px 1px rgba(0,0,0,0.7) inset;
  }
  #switch span{
    width: 30px;
    height: 30px;
    line-height: 30px;
    display:block;
    background: none;
    color:#fff;
  }
  #switch::after{
    content: "";
    display: block;
    width: 30px;
    height: 30px;
    position:absolute;
    background: #fff;
    top:0;
    left:0;
    right:unset;
    border-radius:100px;
    transition: .5 ease all;
    box-shadow: 0 0 2px 2px rgba(0,0,0,.3);
  }
  #switch.active{
    background: rgb(252, 156, 48);
    color:#000000;
  }
  #switch.active::after{
    left:unset;
    right:0;
  }