body {
    background-color: #B8E8FC;
    margin: 0;
}
.barraNavegacao {
    background-color: #7978FF;
    height: 60px;
    width: 100%;
    /* position: absolute; */
}
.cadastrar {
    background-color: darkorange;
    height: 40px;
    width: 70px;
    border-radius: 10px;
    text-align: center;
    
    /* position: relative; */
}
.login {
    background-color: darkorange;
    height: 40px;
    width: 70px;
    border-radius: 10px;
    text-align: center;
    /* position: relative; */
}