body {
    background-color: #B8E8FC;
}
h1 {
    font-size: 3rem;
    line-height: 1.5;
    font-family: 'Montserrat';
    font-weight: 900;
}
img {
    width: 100%;
}
video {
    width: 100%;
}
.main {
    padding-top: 5%;
}
.profile {
    width: 50%;
    display: block;
    margin-top: 3rem;
}

    
  